<main class="mainForn">
    <div class="containerForn">
    <H2 class="section-title">Menu</H2>
        <div class="containerMenu">
            <a href="/admin/adicionarprod"><button type="submit" class="ADM_MENU_btn"> ADICIONAR PRODUTO</button></a>
            <a href="/admin/produtos"><button type="submit" class="ADM_MENU_btn"> VER PRODUTOS</button></a>
            <a href="/admin/adicionarforne"><button type="submit" class="ADM_MENU_btn"> ADICIONAR FORNECEDOR</button></a>
            <a href="/admin/fornecedores"><button type="submit" class="ADM_MENU_btn"> VER FORNECEDORES</button></a>
            <a href="/admin/clientes"><button type="submit" class="ADM_MENU_btn"> VER CLIENTES</button></a>
        </div>
    </div>
</main>