<!-- Header -->
<header>
    <!-- Nav | Area de navegação -->
    <nav class="nav containerHeader">
        <div class="nav-start">
            <a href="/" class="logo navItem"> <img src="/icons/WhiteHeader/diamond.png" class="img-icon" id=""> </a>
        </div>
        <ul class="navUl">
            <li class="">
                <a href="#Aliancas" class="logo navItem">Alianças  <img src="/icons/WhiteHeader/diamond-ring.png" class="img-icon"></a> 
            </li>
            <li class="">
                <a href="#Pingentes" class="logo navItem">Pingentes <img src="/icons/WhiteHeader/necklace.png" class="img-icon"></i></a>
            </li>
            <li class="">
                <a href="#Pulseiras" class="logo navItem">Pulseiras <img src="/icons/WhiteHeader/bracelet.png" class="img-icon"></i></a>
            </li>
            <li class="">
                <a href="#Brincos" class="logo navItem">Brincos <img src="/icons/WhiteHeader/earrings.png" class="img-icon"></i></a>
            </li>
            <li class="">
                    <a href="#Piercing" class="logo navItem">Piercing  <img src="/icons/WhiteHeader/piercings.png" class="img-icon"></a> 
            </li>
        </ul>
        <div class="nav-end">
            <a class="logo navItem"><img src="/icons/WhiteHeader/shopping-bag.png" class="img-icon" id="cart-icon"> </a>
            <a class="logo navItem" href="/login"><img src="/icons/WhiteHeader/whiteperfil.png" class="img-icon" id="cart-icon"> </a>
        </div>

        <!-- Carrinho de compras -->
        <div class="cart">
            <h2 class="cart-title">Seu Carrinho</h2>
            <!-- Conteudo do carrinho de compras -->
            <div class="cart-content">              
            </div>

            <!-- Total -->
            <div class="total">
                <div class="total-title">Total</div>
                <div class="total-price">R$ 0</div>
            </div>

            <!-- Buy button -->
            <button type="button" class="btn-buy"><a href="pedido.html">COMPRAR</a></button>

            <!-- FECHAR CARRINHO DE COMPRAS -->
            <i class='bx bx-x' id="close-cart"></i>        
        </nav>
</header>