<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/BlackHeader/diamond.png">
    <title>DIAMONDS</title>
    {{!-- Icon --}}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/login&Cadastro.css">
    <link rel="stylesheet" href="/css/AdicionarCoisas.css">
    <link rel="stylesheet" href="/css/menuadmin.css">
    <link rel="stylesheet" href="/css/Lista&Tabelas.css">
    <link rel="stylesheet" href="/css/produtos.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/pedido.css">
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
<script src="/Scripts/Compras.js"></script>
<script src="/Scripts/funções.js"></script>



</html>