<main class="mainFinalizacao ">
    <div class="containerFinalizacao ">
        <h1>Pedido realizado com sucesso!</h1>
            <div class="contentFinalizacao ">
                <div class="containerImgF">
                    <img src="/imagens/Varios usos/check.png" class="img-fina">
                </div>
            </div>
            <div class="btns-finalizacao">
                <a href="/menu"><button type="button" onclick="voltarPagina()" class="voltar-finalizacao">Voltar ao Menu</button></a>
                <button type="button" onclick="voltarPagina()" class="gerar-pdf ">Gerar PDF</button>
            </div>
    </div>
</main>



