<main class="mainL">
    <div class="containerL">
        <div class="titleL">Registration</div>
            <div class="contentL">
                <form action="#">
                <div class="user-detailsL">
                    <div class="input-boxL">
                        <span class="detailsL">Full Name</span>
                        <input type="textL" placeholder="Enter your name" required>
                    </div>
                    <div class="input-boxL">
                        <span class="detailsL">Username</span>
                        <input type="text" placeholder="Enter your username" required>
                    </div>
                    <div class="input-boxL">
                        <span class="detailsL">Email</span>
                        <input type="text" placeholder="Enter your email" required>
                    </div>
                    <div class="input-boxL">
                        <span class="detailsL">Phone Number</span>
                        <input type="text" placeholder="Enter your number" required>
                    </div>
                    <div class="input-boxL">
                        <span class="detailsL">Password</span>
                        <input type="text" placeholder="Enter your password" required>
                    </div>
                    <div class="input-boxL">
                        <span class="detailsL">Confirm Password</span>
                        <input type="text" placeholder="Confirm your password" required>
                    </div>
                </div>
                <div class="buttonL">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</main>