<main class="mainL">
<div class="containerL">
    <div class="titleL">Login</div>
    <div class="contentL">
    <form action="/login/entrar" method="post">
        <div class="user-detailsL">
        <div class="input-boxL">
            <span class="detailsL">Email: </span>
            <input type="text" placeholder="Enter your email" name="email" required>
        </div>
        <div class="input-boxL">
            <span class="detailsL">Senha: </span>
            <input type="text" placeholder="Enter your password" name="senha" required>
        </div>
        </div>
        <div class="buttonL">
            <a href="/cadastro">Criar uma conta</a>
            <input type="submit" value="Login" id="btnLogin">
        </div>
    </form>
    </div>
</div>
</main>