
    <!-- Slider Images -->
    <div class="slider">
        <a href="#"><img id="img-1" src="/imagens/Slider/SliderImage1.png" alt="Image 1"/></a>
        <a href="#"><img id="img-2" src="/imagens/Slider/SliderImage2.png" alt="Image 2"/></a>
        <a href="#"><img id="img-3" src="/imagens/Slider/SliderImage3.png" alt="Image 3"/></a>
        
        
    </div>
    <div class="navigation-button">
        <span class="dot active" onclick="changeSlide(0)"></span>
        <span class="dot" onclick="changeSlide(1)"></span>
        <span class="dot" onclick="changeSlide(2)"></span>
    </div>


    <!-- Fotos do site mavejoalheria -->
    <!-- Shop -->

    <!-- Alianças -->
    <section id="Aliancas" class="shop container">
        <h2 class="section-title"> ALIANÇAS </h2>
        <!-- Conteudo -->
        <div class="shop-content">
            <!-- Box 1 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca1.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Diamantada Fininha 2.6mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 4270,00</span>
                    <span class="priceX">ou 10x de 427,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 2 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca2.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro com joia 4mm </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 3547,00</span>
                    <span class="priceX">ou 10x de 345,70</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 3 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca3.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Abaulada 6mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 4310,00</span>
                    <span class="priceX">ou 10x de 430,10</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 4 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca4.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Trabalhada com Detalhes 4.5mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 5395,00</span>
                    <span class="priceX">ou 10x de 539,50</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 5 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca5.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Branco Comfort com Pedras</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2470,00</span>
                    <span class="priceX">ou 10x de 247,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 6 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca6.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Branco Aro Liso 3.9mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2230,00</span>
                    <span class="priceX">ou 10x de 223,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 7 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca7.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Branco Reta Riscada com 1 Pedra</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1740,00</span>
                    <span class="priceX">ou 10x de 174,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 8 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca8.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro Branco Comfort Grossa Lisa 7mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2280,00</span>
                    <span class="priceX">ou 10x de 228,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 9 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca9.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro 18k/750 Fina Trabalhada 2.75mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2400,00</span>
                    <span class="priceX">ou 10x de 240,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 10 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca10.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro 18k/750 Comfort Lisa 3.4mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1200,00</span>
                    <span class="priceX">ou 10x de 120,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 11 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca11.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro 18k/750 Lisa Fina 1.1mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 435,00</span>
                    <span class="priceX">ou 10x de 43,50</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 12 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/aliancas/alianca12.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Aliança em Ouro 18k/750 Diamantada Fininha 2.6mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 880,00</span>
                    <span class="priceX">ou 10x de 88,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
    </section>

    <!-- Pingentes -->
    <section id="Pingentes" class="shop container">
        <h2 class="section-title"> PINGENTES </h2>
        <!-- Conteudo -->
        <div class="shop-content">

            <!-- Box 1 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente1.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Chuveiro 6mm com Diamantes</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.587,26</span>
                    <span class="priceX">ou 10x de 258,70</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 2 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente2.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Ponto de Luz com Asinha</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 839,30</span>
                    <span class="priceX">ou 10x de 83,90</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 3 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente3.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Cruz com Coração Cravejado</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.378,85</span>
                    <span class="priceX">ou 10x de 137,88</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 4 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente4.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Separador Três Fileiras</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.139,05</span>
                    <span class="priceX">ou 10x de 113,90</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 5 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente5.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Gargantilha em Ouro 18k/750 Ponto de Luz com Pedra 5mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.838,50</span>
                    <span class="priceX">ou 10x de 183,85</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 6 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente6.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Oval Fileira </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.199,00</span>
                    <span class="priceX">ou 10x de 119,90</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 7 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente7.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Canga Dupla Cravejada</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.007,16</span>
                    <span class="priceX">ou 10x de 100,71</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 8 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente8.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Girassol Médio</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.678,60</span>
                    <span class="priceX">ou 10x de 167,86</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 9 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente9.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Separador com 24 Pedras</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 779,35</span>
                    <span class="priceX">ou 10x de 79,93</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 10 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente10.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Ponto de Luz 3mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 335,72</span>
                    <span class="priceX">ou 10x de 33,57</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 11 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente11.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Miolo Flor Pavê</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.139,05</span>
                    <span class="priceX">ou 10x de 113,90</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 12 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pingentes/pingente12.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pingente em Ouro 18k/750 Canga com Coração </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.314,32</span>
                    <span class="priceX">ou 10x de 231,43</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
        
    </section>

    <!-- Pulseiras -->
    <section id="Pulseiras" class="shop container">
        <h2 class="section-title"> PULSEIRAS </h2>
        <!-- Conteudo -->
        <div class="shop-content">

            <!-- Box 1 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira1.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Groumet Achatada 22cm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 13.968,35</span>
                    <span class="priceX">ou 10x de 1396,830</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 2 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira2.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 3x1 21.5cm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 7.373,85</span>
                    <span class="priceX">ou 10x de 737,38</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 3 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira3.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Groumet Achatada</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 5.275,60</span>
                    <span class="priceX">ou 10x de 527,56</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 4 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira4.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Infantil com Rosto de Menino</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 3.057,45</span>
                    <span class="priceX">ou 10x de 305,74</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 5 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira5.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Infinito com Zircônias</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 8.069,27</span>
                    <span class="priceX">ou 10x de 806,92</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 6 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira6.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Bola 7mm Diamantada 20cm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 8.069,27</span>
                    <span class="priceX">ou 10x de 806,92</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 7 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira7.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Infantil de Bolinha 13,5cm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.079,10</span>
                    <span class="priceX">ou 10x de 107,91</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 8 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira8.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Riviera 3mm 20cm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 14.028,30</span>
                    <span class="priceX">ou 10x de 1402,83</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 9 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira9.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Milano com Coração</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 15.167,35</span>
                    <span class="priceX">ou 10x de 1516,73</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 10 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira10.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Portuguesa Amor</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 3.237,30</span>
                    <span class="priceX">ou 10x de 323,73</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 11 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira11.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Milano Moment Elefante</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 23.320,55</span>
                    <span class="priceX">ou 10x de 2332,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 12 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Pulseiras/pulseira12.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Pulseira em Ouro 18k/750 Portuguesa com Pingente</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.517,90</span>
                    <span class="priceX">ou 10x de 251,79</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
        
        </div>

    </section>

    <!-- Brincos -->
    <section id="Brincos" class="shop container">
        <h2 class="section-title"> BRINCOS </h2>
        <!-- Conteudo -->
        <div class="shop-content">

            <!-- Box 1 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco1.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Ear Cuff Fileira e Navetes</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 4.616,15</span>
                    <span class="priceX">ou 10x de 461,61</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 2 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco2.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Ear cuff Exclusivo com Diamantes</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 4.198,00</span>
                    <span class="priceX">ou 10x de 419,80</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 3 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco3.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Ear Cuff Crescente Seta</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.218,15</span>
                    <span class="priceX">ou 10x de 221,81</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 4 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco4.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Ear Cuff Raminho com Pedras</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.457,95</span>
                    <span class="priceX">ou 10x de 245,79</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 5 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco5.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Argola Bicolor Diamantada</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 3.177,35</span>
                    <span class="priceX">ou 10x de 317,73</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 6 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco6.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Argola Gota com Bolinhas </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 4.496,25</span>
                    <span class="priceX">ou 10x de 449,62</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 7 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco7.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Coração com Detalhes Fosco</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.558,70/span>
                    <span class="priceX">ou 10x de 155,87</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 8 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco8.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Argola com Quatro Estrelas Tricolor</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.817,65</span>
                    <span class="priceX">ou 10x de 281,76</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 9 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco9.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Elos Navetes e Redondos</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.678,60</span>
                    <span class="priceX">ou 10x de 167,86</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 10 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco10.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Elos Navete Pequeno </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.318,90</span>
                    <span class="priceX">ou 10x de 131,89</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 11 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco11.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Elos Ovais Múltiplos com Coração</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 3.776,85</span>
                    <span class="priceX">ou 10x de 377,68</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
            <!-- Box 12 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Brincos/brinco12.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Brinco em Ouro Argolas Diamantadas</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 2.038,30</span>
                    <span class="priceX">ou 10x de 103,83</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
        </div>
        
    </section>

    <!-- Piercing -->
    <section id="Piercing" class="shop container">
        <h2 class="section-title"> PIERCING </h2>
        <!-- Conteudo -->
        <div class="shop-content">
            <!-- Box 1 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing1.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Argola Redonda Cravejada</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 899,25</span>
                    <span class="priceX">ou 10x de 89,92</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 2 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing2.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Cravejado com Pedras Navete</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.079,10</span>
                    <span class="priceX">ou 10x de 107,91</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 3 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing3.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Ponto de Luz </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 539,55</span>
                    <span class="priceX">ou 10x de 53,95</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 4 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing4.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Argola Coração Cravejado</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.262,10</span>
                    <span class="priceX">ou 10x de 126,21</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 5 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing5.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Argola Coração Rainbow</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 1.165,10</span>
                    <span class="priceX">ou 10x de 116,51</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 6 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing6.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Argola Rainbow </h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 779,35</span>
                    <span class="priceX">ou 10x de 77,93</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 7 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing7.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing de Nariz em Ouro 18k/750 Argola Septo</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 479,60</span>
                    <span class="priceX">ou 10x de 47,96</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 8 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing8.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing de Nariz em Ouro 18k/750 Nostril Ponto de Luz</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 194,85</span>
                    <span class="priceX">ou 10x de 19,48</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 9 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing9.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing de Nariz em Ouro 18k/750 Nostril Bolinha</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 254,80</span>
                    <span class="priceX">ou 10x de 25,48</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 10 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing10.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing em Ouro 18k/750 Nariz Segment 10mm</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 199,85</span>
                    <span class="priceX">ou 10x de 19,98</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 11 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing11.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing de orelha prata 925 banho dourado</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 290,00</span>
                    <span class="priceX">ou 10x de 29,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>

            <!-- Box 12 -->
            <div class="product-box">
                <div class="containerImg">
                    <img src="/imagens/Piercing/piercing12.jpg" alt="" class="product-img">
                </div>
                <div class="containerTitle">
                    <h2 class="product-title">Piercing de Prata 925 Dourado com Gema Redonda</h2>
                </div>
                <div class="priceblock">
                    <span class="price">R$ 490,00</span>
                    <span class="priceX">ou 10x de 49,00</span>
                </div>
                <div class="containerShop add-cart">
                    COMPRAR
                </div>
            </div>
        </div>
    </section>
    
    


