.mainForn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    background-color: #f2f2f2;
}

.containerForn {
    margin-top: 100px;
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

table {
    width: 100%;
}

thead {
    color: #333;
    font-weight: bold;
    background-color: #f2f2f2;
}

thead th {
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    overflow: hidden;
}

thead th {
    background-color: #090b1c;
    color: white;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #DCDCDC;
}  

tbody tr:nth-child(odd) {
    background-color: #BEBEBE;
} 

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #818589 !important;
}

tbody tr td {
    transition: .2s ease-in-out;
}

.td-limite {
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td a {
    color: #1210A6;
}

td a:hover{
    text-decoration: underline;
    cursor: pointer;
}

