@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.mainL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
}

.containerL{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.containerL .titleL{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.containerL .titleL::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: rgb(9,11,28);
  background: linear-gradient(270deg, rgba(9,11,28,1) 0%, rgba(2,168,201,1) 100%);
}

.contentL form .user-detailsL{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-detailsL .input-boxL{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-boxL span.detailsL{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-detailsL .input-boxL input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  }

  .user-detailsL .input-boxL input:focus,
  .user-detailsL .input-boxL input:valid{
  border-color: #02a7c8;
}

form .buttonL{
  height: 45px;
  margin: 35px 0
}

form .buttonL input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgb(9,11,28);
  background: linear-gradient(270deg, rgba(9,11,28,1) 0%, rgba(2,168,201,1) 100%);
}

form .buttonL input:hover{
  /* transform: scale(0.99); */
  background: rgb(9,11,28);
  background: linear-gradient(-270deg, rgba(9,11,28,1) 0%, rgba(2,168,201,1) 100%);
}

/* @media(max-width: 584px){
  .container{
  max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
  }
  form .category{
      width: 100%;
  }
  .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
      width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
      flex-direction: column;
  }
} */
