@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --main-color: #fd4646;
    --text-color: #171427;
    --bg-color: #FFF;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    background-color:#f9f9f9 ;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
}



.sec-prod-menu {
    padding: 5.5rem 0 3rem;
    background-color: white;

}



/* SLIDER */
.slider {
    width: 100%;
    height: 410px;
    position: relative;
    margin-top: 100px;
}

.slider img {
<<<<<<< HEAD
    
    width: 50%;
    height: 310px;
    position: absolute;
    top: 15%;
    left: 25%;
    right: 25%;
    border-radius: 100px 5px 100px 5px ;
    border-color: #b4adf0;
    border-style: outset;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

/*.slider:hover{
    scale: 1.10;
    transition: 1s;
}*/

=======
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
.slider img:first-child {
    z-index: 1;
}

.slider img:nth-child(2) {
    z-index: 0;
}

<<<<<<< HEAD
/* Setas do slider */
.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  font-style: bold;
  color: #0ab7f6;
  border: none;
  border-radius: 50px 50px 50px 50px;

}

.carousel-prev:hover,
.carousel-next:hover{
    scale: 1.2;
    background-color: #b9b7b7;
    transition: 1.2s;
}

.carousel-prev {
  left: 30px;
}

.carousel-next {
  right: 10px;
}


=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
.navigation-button {
    text-align: center;
    position: relative;
}
<<<<<<< HEAD
/*FINAL SETAS DO SLIDER*/
=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}

<<<<<<< HEAD
  
.active,
.dot:hover {
    background-color: #5d6c71;
    scale: 1.20;
    transition: 1s;
=======
.activer,
.dot:hover {
    background-color: #717171;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

/* FIM SLIDER */
/* ------------------------------------------------------------ */

/*  Shop */
.section-title {
    font-size: 32PX;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.shop {
    margin-top: 2rem;
    max-width: 1100px;
}

/* FIM SHOP */
/* ------------------------------------------------------------ */

/* Shop Content */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 255px));
    gap: 16px;
    padding-left: 20px;
}



.product-box {
    display: flex;
    flex-direction: column;
    height: 460px;
    border: 1px solid #EAECEE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-box:hover {
    background-color: rgb(248,248,248);
    transition: 0.4s;
    scale: 1.05;
    z-index: 5;
}

.product-box:hover:last-child {
    border: none;
}

.containerImg {
    margin-bottom: 20px;
}

.product-img {
    width: 100%;
    height: 248px;

}

<<<<<<< HEAD
.product-id {
    opacity: 0;
    z-index: -10;
}

.cart-product-id {
    opacity: 0;
    z-index: -10;
}

=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
.containerTitle {
    width: 100%;
    height: 40px;
    margin-bottom: 45px;
}

.product-title {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 0 10px;
}

.priceblock{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    font-size: 16px;
    font-weight: 500;
    height: 25px;
}

.priceX {
    font-size: 12px;
    font-weight: 400;
    height: 20px;
}

.containerShop {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    cursor: pointer;
    border: 1px solid black;

    width: 100%;
    height: 40px;
}

.containerShop:hover {
    background: #02a7c8;
    border: #02a7c8 1px solid;
    color: white;
}

/* FIM SHOP CONTENT */
/* ------------------------------------------------------------ */
/* FOOTER */
.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    background-color: #18181a;
}

.inner-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    margin: 0 auto;
    width: 1068px;
    height: 100%;
}

.logo_container {
    width: 100%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container img{
    width: 65px;
    height: auto;
}

.footer_section {
    width: 100%;
    margin-right: 10px;
    float: left;
    height: 100%;
}


.inner-footer .footer_section h1{
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer_section a {
    font-size: 16px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer_section a:hover {
    text-decoration: underline;
}

.inner-footer .footer_section li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner-footer .footer_section span {
    color: white;
    font: 16px;
    display: block;
    width: 100%;
}
/* FIM FOOTER */
/* ------------------------------------------------------------ */




/* TORNAR O SITE RESPONSIVO */
@media(max-width:1080px){
    .nav{
        padding:15px;
    }
    section {
        padding: 3rem 0 2rem;
    }
    .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1068px;
    }
    .shop {
        margin-top: 2rem !important;
    }

}


@media(max-width:400px){
    .nav{
        padding:11px;
    }
    .logo {
        font-size: 1rem;
    }
    .cart {
        width: 320px;
    }

    .footer .inner-footer {
        width: 90%;
    }

    .inner-footer .logo_container, .inner-footer .footer_section {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width:360px) {
    .shop {
        margin-top: 1rem !important;
    }
    .cart {
        width: 280px;
    }
}
