.mainPedido {
    background-color: #f2f3f4;
    width: 100%;
    padding: 0 30px;
}

.containerGrid {
    display: grid;
    grid-template-columns: 0.9fr auto;
<<<<<<< HEAD
    gap: 40px;
    padding: 60px 100px;
=======
    gap: 30px;
    padding: 20px 60px;
    margin: 0 auto;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    background-color: #f2f3f4;
    /* #f2f3f4 */
}

<<<<<<< HEAD
.iconsPedido {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.h2Center {
    display: flex;
    align-items: center;
}

=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
.col1 {
    grid-row: span 2;
}

.c-blue {
    color: #02a7c8;
}

.c-orange {
    color:#ff6500;
}

.containerEndereco {
    width: 100%;
    height: 250px;
    grid-column: 1;
    background-color: rgb(250, 250, 251);
    padding: 20px;
}

.tituloEndereco {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

<<<<<<< HEAD
/* .containerEndereco  .tituloEndereco::before{
=======
.containerEndereco  .tituloEndereco::before{
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    content: "";
    position: absolute;
    left: 10;
    bottom: 0;
    height: 3px;
    width: 60px;
    border-radius: 5px;
    background: rgb(9,11,28);
    background: linear-gradient(270deg, rgba(9,11,28,1) 0%, rgba(2,168,201,1) 100%);
<<<<<<< HEAD
} */
=======
}
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426

.tituloEndereco h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(66, 70, 77);
}

.endereco {
    display: flex;
    height: 120px;
    flex-direction: column;
<<<<<<< HEAD
    margin: 1rem 0 0 1rem;
=======
    margin-top: 1rem;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    padding: 10px;
    border-left: 4px solid #02a7c8;
    border-radius: 0.25rem;
    border-bottom: 1px solid #E8E8E8;
}

.endereco p {
<<<<<<< HEAD
    font-size: 14px;
    color: #7F858D;
    height: 25px;
    margin-left: 15px;
=======
    font-size: 16px;
    height: 25px;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

.btns-endereco-container {
    display: flex;
    justify-content: end;
    text-align: end;
    align-items: end;
}

.btns-endereco {
    border: none;
    background-color: rgb(250, 250, 251);
    font-size: 16px;
<<<<<<< HEAD
=======
    padding:10px;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    margin-top: 5px;
    border-bottom: 2px solid white;
    transition: 0.3s;
}

.btns-endereco:hover {
    border-bottom: 2px solid #02a7c8;
    cursor: pointer;
    transform: scale(1.05);
}

/*---------------------------------- PRODUTOS ----------------------------------*/

.containerProduto {
    width: 100%;
    grid-column: 1;
    background-color: rgb(250, 250, 251);
    padding: 30px;
    margin-top: 40px;
}

.tituloProduto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tituloProduto h2 {
    font-weight: bold;
    font-size: 20px;
    color: rgb(66, 70, 77);
}

.btn-remover-tudo {
    border: 2px solid #e72626;
    background: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: #e72626;
    font-size: 12px;
    font-weight: bold;
}

.btn-remover-tudo:hover {   
    cursor: pointer;
}

.listaprodutos {
    width: 100%;
    border-top: 1px solid 	#E8E8E8;
}

.contentProd {
    display: grid;
    align-items: center;
<<<<<<< HEAD
    grid-template-columns: 20% 15% 30%  20% 15%;
=======
    grid-template-columns: 20% 45%  20% 15%;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid 	#E8E8E8;
}

.prod-img {
    padding: 10px;
    width: 150px;
    height: 150px;
}

.prod-img img {
    width: 100%;
    height: 100%;
}

<<<<<<< HEAD
.prod-id {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 70, 77);
}

=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
.prod-nome {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 70, 77);
}

.prod-qtn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.none {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none:hover {
    cursor: pointer;
}

.simbolos-btn {
    width: 25px;
    height: 25px;
}

.prod-qtn-remove {
    border: none;
    color: #e72626;
    font-weight: bold;
    font-size: 12px;
    background:none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-qtn-remove:hover {
    cursor: pointer;
}

.prod-qtn-remove i {
    width: 15px;
    height: 15px;
}

.btn-qtn {
    display:flex;
    align-items: center;
}

.btn-qtn input {
    width: 50px;
    height: 30px;
    border: none;
    text-align: center;
    font: 16px;
}

.prod-preco {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
    letter-spacing: 1px;
}

.pvista {
    font-size: 12px;
    color: #7f858d;
}

.price {
    color: #02a7c8;
<<<<<<< HEAD
    font-weight: bold;
=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

/*---------------------------------- RESUMO ----------------------------------*/

.containerResumo {
    max-width: 19.5rem;
    gap: unset;
    align-self: flex-start;
    top: 2rem;
    padding: 2rem 2rem 1.5rem;
    background-color:rgb(250, 250, 251) ;
    grid-column:2;
}

.tituloResumo h2 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(66, 70, 77);
<<<<<<< HEAD
    
=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

.containerResumo p {
    font-size: 12px;
    color: #7f858d;
}

.preco-prods {
    margin-top: 20px;
    width: 100%;
<<<<<<< HEAD
    height: 45px;
=======
    height: 30px;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

.frete {
    margin-top: 10px;
    width: 100%;
<<<<<<< HEAD
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
=======
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

.preco-final-prazo {
    margin-top: 10px;
    width: 100%;
<<<<<<< HEAD
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vezes10 {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
=======
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
}

.preco-final-pix {
    margin: 40px 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(229, 255, 241);
    color: rgb(31, 144, 80);
}

.finalizar {
    width: 100%;
    height: 48px;
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
    border: 1px solid #02a7c8;
    background-color: #02a7c8;
=======
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #02a7c8;
    background-color: #02a7c8;
    user-select: none;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s ease 0s;
    border-radius: 0.25rem;
}

<<<<<<< HEAD
.finalizar:hover {
    cursor: pointer;
}

=======
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
.continuar {
    width: 100%;
    height: 48px;
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    align-items: center;
    border: 1px solid #02a7c8;
    background-color: rgb(255, 255, 255);
=======
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #02a7c8;
    background-color: rgb(255, 255, 255);
    user-select: none;
>>>>>>> d497055adb0c99e32b6c2f5ae32be0811dd1e426
    color: #02a7c8;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s ease 0s;
    border-radius: 0.25rem;
    margin-bottom: 20px;
}